<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Flow viz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://logicien.fr/flow/">
    <meta name="theme-color" content="hsl(0,50%,45%)">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="flow.css">
</head>

<body class="gameprog">
    <header>
        <h1>Flowing photons</h1>
        <div class="subheading">
            from <a href="http://logicien.fr/">sneaky_weasel</a></div>
    </header>
    <main>
        <section>
            <figure><svg id="diagram-edge" class="select-none" v-cloak="1" viewBox="0 0 1000 700">
                    <g v-for="tile in tiles" v-bind:key="tile.id">
                        <a-tile v-bind:type="type" v-bind:tile="tile" v-bind:state="state"></a-tile>
                        <circle class="clickable" v-bind:cx="tile.x" v-bind:cy="tile.y" r="40" v-on:click="cycle(tile)">
                        </circle>
                        <circle v-if="!state[tile.id]" class="node-marker" v-bind:cx="tile.x" v-bind:cy="tile.y" r="5">
                        </circle>
                    </g>
                    <g v-for="edge in edges" v-bind:key="edge.id">
                        <circle v-bind:class="'clickable ' + edge.s" v-bind:cx="edge.x" v-bind:cy="edge.y" r="20"
                            v-on:click="cycle(edge)"></circle>
                        <a-edge v-bind:edge="edge" v-bind:state="state"></a-edge>
                    </g>
                </svg>
                <figcaption>Click on tiles to activate them, click on edges to control the flow. Edit the js script at the end of the html for loading. Strongly inspired by
                    RedBlob.</figcaption>
            </figure>
        </section>
    </main>
    <script src="flow.js"></script>
    <script>
        diagram('diagram-edge', 'edge',
            {
                '0,4': true,
                '1,4': true,
                '2,4': true,
                '3,4': true,
                '3,5': true,
                '3,6': true,
                '4,6': true,
                '5,6': true,
                '5,5': true,
                '1,5': true,
                '1,6': true,
                '2,6': true,

                '0,4,W': 'WN',
                '1,4,W': 'ES',
                '2,4,W': 'ES',
                '3,4,W': 'ES',
                '3,5,N': 'ES',
                '3,6,N': 'ES',
                '4,6,W': 'ES',
                '1,5,N': 'ES',
                '1,6,N': 'ES',
                '2,6,W': 'ES',
                '3,6,W': 'ES',
                '5,6,W': 'ES',
                '5,6,N': 'NW',
            }
        );
    </script>
</body>

</html>